<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!DOCTYPE html>
<html>

<head>
	<title>Cadastro de Aluno na Disciplina</title>
</head>

<body>
	<h3>Cadastro de Aluno na Disciplina</h3>
	<form method="post">
		<label for="codigoDisciplina">Código da disciplina:</label>
		<input type="text" id="codigoDisciplina" name="codigoDisciplina" required><br><br>

		<label for="codigoEstudante">Código do estudante:</label>
		<input type="text" id="codigoEstudante" name="codigoEstudante" required><br><br>
		
		<input type="submit" value="Cadastrar">
	</form>
</body>

</html>