<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Controle do Quadro de Horário Acadêmico</title>
</head>

<body>
	<h1>Controle do Quadro de Horário Acadêmico</h1>
	<h2>Controle de alunos e professores</h2>
	<a href="pessoa/cadastro">Cadastrar aluno ou professor</a><br>
	<a href="pessoa/info">Mostrar informações de aluno ou professor</a><br>
	<h2>Controle de disciplinas</h2>
	<a href="disciplina/cadastro">Cadastrar disciplina</a><br>
	<a href="disciplina/matricularAluno">Cadastrar aluno em disciplina</a><br>
	<a href="disciplina/info">Mostrar informações de disciplina</a>
</body>

</html>